/* emojis */

.emoji-row {
    padding-top: 5px;
    padding-bottom: 30px;
    margin-right: -15px;
    margin-left: -15px;
    background-color:#eeeeee;
}

.stop-btn {
 cursor: pointer;
}

#emojis-section {
    width:100%;
    overflow-x:hidden;
}

#emojis-section p {
    width: 100%;
    margin:10px 0;
    white-space: nowrap;
}

/* tweets */

table#tweets-table tbody tr td {
    word-wrap: break-word;
    word-break: break-all;
}

.table > thead > tr > td.super-success,
.table > tbody > tr > td.super-success,
.table > tfoot > tr > td.super-success,
.table > thead > tr > th.super-success,
.table > tbody > tr > th.super-success,
.table > tfoot > tr > th.super-success,
.table > thead > tr.super-success > td,
.table > tbody > tr.super-success > td,
.table > tfoot > tr.super-success > td,
.table > thead > tr.super-success > th,
.table > tbody > tr.super-success > th,
.table > tfoot > tr.super-success > th {
  background-color: #8DDA9A;
}

.table > thead > tr > td.super-danger,
.table > tbody > tr > td.super-danger,
.table > tfoot > tr > td.super-danger,
.table > thead > tr > th.super-danger,
.table > tbody > tr > th.super-danger,
.table > tfoot > tr > th.super-danger,
.table > thead > tr.super-danger > td,
.table > tbody > tr.super-danger > td,
.table > tfoot > tr.super-danger > td,
.table > thead > tr.super-danger > th,
.table > tbody > tr.super-danger > th,
.table > tfoot > tr.super-danger > th {
  background-color: #EE7979;
}

/* fonts */

h1, h2 {
    margin: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
}

/* buttons */

div#pause_container {
    position: absolute;
    top: 50px;
    right: 20px;
}

div#change_container {
    position: absolute;
    top: 50px;
    left: 20px;
}

div#pause_container span, div#change_container span {
    font-size: 3em;
    font-weight: bold;
    color: #317eac;
    cursor: pointer;
}

div#pause_container span:hover, div#change_container span:hover {
    color: #333333;
}