<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noisy Tweets</title>

        <link rel="stylesheet" href="static/css/bootstrap.css"/>
        <link rel="stylesheet" href="static/css/cerulean-bootstrap.min.css"/>
        <link rel="stylesheet" href="static/css/site.css"/>
    </head>

    <body>
        <div class="container">
			<div id="pause_container">
				<span id="play-btn" class="pull-right glyphicon glyphicon-pause"></span>
			</div>

			<div id="change_container">
				<span id="change-btn" class="pull-right glyphicon glyphicon-refresh"></span>
			</div>

            <h1>Noisy Tweets</h1>
			<h2><em>(a.k.a. Twitter Plays Piano)</em>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;Listening to: <strong id="listening-to">???</strong></h2>

            <br />

            <div class="row">
                <div id="left-container" class="col-sm-4">
                    <div class="row well">
                        <h4>Emoji Stream</h4>
                        <div id="emojis-section">
                            <p></p>
                        </div>
                    </div>

                    <div id="tweets" class="row well">
                            <h4>Live Tweets</h4>
                            <table id="tweets-table" class="table">
                                <thead>
                                    <tr>
                                        <th>Tweet</th>
                                        <th>Sentiment</th>
                                    </tr>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                    </div>
                </div>

                <div id="right-container" class="col-sm-8">
                    <div class="well">
                        <canvas id="moodChart" width="710" height="400"></canvas>
                   </div>
                </div>
            </div>
        </div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="static/js/Chart.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script type="text/javascript" src="static/js/noisytweets.js"></script>
		<script type="text/javascript" src="static/js/soundmanager2-jsmin.js"></script>
		<script type="text/javascript" src="static/js/play-sounds.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>
		<script type="text/javascript">
			NT.registerLogMethod(function(msg) {
				console.log(msg);
			});

			NT.registerEmojiMethod(function(which) {
				addEmoji(which);
			});

			NT.registerTweetMethod(function(tweet) {
				$('#listening-to').html(tweet.keyword)
				addTweet(tweet.text, tweet.mood);
			});

			$(document).ready(function() {
				NT.setup();
			});
		</script>
    </body>
</html>